.app.dark {
  --bg-color: #0a0a4e;
  --inverted-bg-color: #d0d0d0;;

  --primary-color: rgb(51, 189, 51);
  --secondary-color: rgb(78, 251, 78);
   --inverted-primary-color: rgb(60, 24, 190);
  --inverted-secondary-color:  rgb(122, 132, 237);
}